<%- include('../partials/header') %>

  <body>
    <h1><%= title %></h1>
    <% musicians.forEach(m => { %>
      <ul>
        <li>
          <a href="/jdmusicians/<%= m._id %> "><%= m.name %></a><br> 
          <%= m.country %> <br>
        </li>
      </ul>
    <% }) %>
  </body>
</html>

<%- include('../partials/footer') %>