<%- include('../partials/header') %>

<h1><%= musicians.name %></h1>
<br />
<p><%= musicians.country %></p>
<p><%= musicians.bio %></p>

<a href="/jdmusicians">GO BACK</a>
<br />

<%- include('../partials/footer') %>
