<%- include('../partials/header') %>
<body class="bg-dark text-light">
  <br />
  <br />
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <!-- || ================================ || -->
      <!-- || name -->
      <!-- || ================================ || -->
      <div
        class="col-md-10 offset-md-1 h2 pb-2 mb-4 text-light border-bottom border-light d-flex justify-content-center"
      >
        <%= musicians.name %>
      </div>
      <!-- || ================================ || -->
      <!-- || pfp -->
      <!-- || ================================ || -->
      <div class="col-md-10 offset-md-1 d-flex justify-content-center">
        <% if (musicians.pfp) { %>
        <img
          class="rounded mx-auto d-block"
          src="<%= musicians.pfp %>"
          alt="profile picture"
        />
        <% } else { %>
        <p><small>No pic? :(</small></p>
        <% } %>
      </div>
      <br />
      <!-- || ================================ || -->
      <!-- || country, instrument -->
      <!-- || ================================ || -->
      <div class="col-md-10 offset-md-1 d-flex flex-column">
        <div class=""><%= musicians.country %></div>
        <div class="">
          <% instruments.forEach(inst => { %> <%= inst.name %> <% }) %>
        </div>
      </div>
      <br />
      <!-- || ================================ || -->
      <!-- || bio -->
      <!-- || ================================ || -->
      <div
        class="col-md-10 offset-md-1 h4 pb-2 mb-4 text-light border-bottom border-light d-flex justify-content-center"
      >
        Bio:
      </div>
      <div class="col-md-10 offset-md-1"><%= musicians.bio %></div>
      <br />
      <br />
      <!-- || ================================ || -->
      <!-- || video carousel -->
      <!-- || ================================ || -->
      <div
        class="col-md-10 offset-md-1 h4 pb-2 mb-4 text-light border-bottom border-light d-flex justify-content-center"
      >
        Videos:
      </div>
      <% if (musicians.video.length) { %>
      <div
        id="carousel-vid"
        class="carousel slide col-md-10 offset-md-1 d-flex align-items-center"
        data-bs-ride="false"
        data-bs-interval="false"
      >
        <div class="carousel-inner">
          <% musicians.video.forEach(v => { %>
          <div class="carousel-item active">
            <iframe
              width="640"
              height="390"
              src="https://www.youtube.com/embed/<%= v.url %> "
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <% }) %>
        </div>
        <button
          class="carousel-control-prev my-auto"
          type="button"
          data-bs-target="#carousel-vid"
          data-bs-slide="prev"
          style="max-height: 50px; max-width: 50px"
        >
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next my-auto"
          type="button"
          data-bs-target="#carousel-vid"
          data-bs-slide="next"
          style="max-height: 50px; max-width: 50px"
        >
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <% } else { %>
      <small class="d-flex justify-content-center">
        Link a video to drop some jaws!
      </small>
      <% } %>
      <br />
      <!-- || ================================ || -->
      <!-- || add video -->
      <!-- || ================================ || -->
      <div class="col-md-10 offset-md-1">
        <div class="mb-3">
          <form action="/jdmusicians/<%= musicians._id %>/videos" method="POST">
            <label for="video-url" class="form-label">
              Link a YouTube video:
            </label>
            <input
              name="url"
              type="url"
              class="form-control"
              pattern="https://.*"
              id="video-url"
              placeholder="https://youtube.com/"
            />
            <br />
            <input class="btn btn-primary" type="submit" value="Add A Video" />
          </form>
        </div>
      </div>
      <br />
      <!-- || ================================ || -->
      <!-- || comments table -->
      <!-- || ================================ || -->
      <div class="col-md-10 offset-md-1 d-flex justify-content-center">
        <table class="table text-light">
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody class="table text-light">
            <% if (musicians.comment.length) { %>
            <!-- EJS break -->
            <% musicians.comment.forEach(elem => { %>
            <tr>
              <td class="comment-user">
                <img
                  alt="avatar"
                  src="<%= elem.userAvatar %>"
                  referrerpolicy="no-referrer"
                  style="border-radius: 50%; max-width: 50px; max-height: 50px"
                />
                <%= elem.userName %>
              </td>
              <td><%= elem.createdAt.toLocaleDateString() %></td>
              <td><%= elem.content %></td>
              <td>
                <% if (user?._id.equals(elem.user)) { %>
                <form
                  action="/comments/<%= elem._id %>?_method=DELETE"
                  method="POST"
                >
                  <button
                    type="submit"
                    class="btn-close btn-close-white"
                    aria-label="Close"
                  ></button>
                </form>
                <% } %>
              </td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>
      <% if (!musicians.comment.length) { %>
      <small class="d-flex justify-content-center">
        Tell us how this musician made you drop your jaw!
      </small>
      <% } %>
      <br />
      <br />
      <!-- || ================================ || -->
      <!-- || comments submission -->
      <!-- || ================================ || -->
      <div class="form-floating">
        <% if (user) { %>
        <form
          class="col-md-10 offset-md-1"
          id="comment-form"
          action="/jdmusicians/<%= musicians._id %>/comments"
          method="POST"
        >
          <textarea
            name="content"
            type="text"
            value="Bio"
            rows="4"
            cols="40"
            maxlength="500"
            class="form-control"
            placeholder="Tell us how this musician made you drop your jaw!"
          ></textarea>
          <br />
          <input class="btn btn-primary" type="submit" value="Add a comment" />
        </form>

        <% } %>
      </div>
      <br />
      <br />
      <!-- || ================================ || -->
      <!-- || footer nav buttons -->
      <!-- || ================================ || -->
      <div class="d-flex justify-content-center col-md-10 offset-md-1">
        <a class="btn btn-outline-primary mx-2" href="/jdmusicians">GO BACK</a>
        <!-- Button trigger modal -->
        <% if (user) { %>
        <button
          type="button"
          class="btn btn-outline-danger mx-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          DELETE MUSICIAN
        </button>
        <% } %>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="exampleModalLabel">
                  Delete A Musician
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body bg-secondary border-bottom-0">
                Are you sure you want to delete this musician?
              </div>
              <div class="modal-footer bg-secondary border-top-0">
                <button
                  type="button"
                  class="btn btn-outline-light"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <form
                  action="/jdmusicians/<%= musicians._id %>?_method=DELETE"
                  method="POST"
                >
                  <button type="submit" class="btn btn-danger">
                    DELETE THE MUSICIAN
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</body>
<%- include('../partials/footer') %>
