<%- include('../partials/header') %>

<h1><%= musicians.name %></h1>
<br />
<% if (musicians.pfp) { %>
<img src="<%= musicians.pfp %>" alt="profile picture" />
<% } else { %>
<p><small>No pic? :(</small></p>
<% } %>
<br />
<div>
  <p><%= musicians.country %></p>
  <p><% instruments.forEach(inst => { %> <%= inst.name %> <% }) %></p>
  <p><%= musicians.bio %></p>
</div>
<br />
<a href="/jdmusicians">GO BACK</a>
<br />

<%- include('../partials/footer') %>
