<%- include('../partials/header') %>

<body>
  <h1><%= instruments.name %></h1>
  <h3>Jaw Dropping Musicians who play this instrument:</h3>
  <% if (musicians.length == 0) { %>
  <div>No Jaw Dropping Musician has been added yet!</div>
  <% } %> <% musicians.forEach(elem => { %>
  <li><a href="/jdmusicians/<%= elem._id %> "><%= elem.name %></a></li>
  <% }) %>
  <br />
  <br />
  <a href="/instruments">GO BACK</a>
</body>

<%- include('../partials/footer') %>
